html {
    scroll-behavior: smooth;
}

// Миксины для повторяющихся стилей
@mixin button-base {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

@mixin card-base {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
}

@mixin image-base {
    width: 100%;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

$display_width: 1200px;

// Переменные для цветов
$primary-color: rgb(32, 32, 39);
$accent-color: rgb(225, 255, 143);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

h1 {
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}

h3 {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

p {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

p span {
    font-weight: 600;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;

    background-color: rgb(225, 255, 143);
    
    &__title {
        padding-top: 196px;
    }

    &__p {
        margin-top: 24px;

        &_mob {
            display: none;
        }
    }

    &__btn {
        @include button-base;
        width: 247px;
        margin-top: 48px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
    }

    &__btn:hover {
        border: 1px solid rgb(32, 32, 39);
        color: rgb(32, 32, 39);
        background: rgb(255, 255, 255);
    }

    &__btn_mobile {
        display: none;
    }
}

.dec-elements {
    &__star {
        position: absolute;
        
        &_1 {
            top: 63px;
            left: calc(50% - 564px);
        }

        &_2 {
            top: 94px;
            left: calc(50% - 657px);
        }

        &_3 {
            top: 568px;
            right: calc(50% - 376px);
        }

        &_4 {
            top: 538px;
            right: calc(50% - 265px);
        }    

        &_5 {
            top: -268px;
            right: calc(50% - 1120px);
        }

        &_6 {
            top: 877px;
            left: calc(50% + 300px);
        }

        &_7 {
            top: 1570px;
            left: calc(50% - 695px);
        }

        &_8 {
            top: 1622px;
            left: calc(50% - 680px);
        }

        &_9 {
            top: 2363px;
            left: calc(50% + 577px);
        }

        &_10 {
            top: 5637px;
            left: calc(50% + 559px);
        }
    }

    &__triangle {
        position: absolute;
        right: calc(50% - 607px);
        top: 468px;
    }

    &__lines {
        position: absolute;
        right: calc(50% - 725px);
        top: -10px;
    }
}

.move-bar {
    display: flex;
    position: absolute;
    top: 710px;
    height: 90px;
    background-color: rgb(188, 236, 48);

    &__text {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 51px;
        animation: scroll 30s linear infinite;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); // Прокрутка на половину ширины
    }
}

.about {
    height: 1470px;
    background-color: rgb(32, 32, 39);

    &__title {
        padding-top: 94px;
        color: rgb(255, 255, 255);

        &_mob {
            display: none;
        }
    }

    &__p {
        margin-top: 24px;
        color: #ffffff;
    }
}

.mgames {
    height: 3500px;
    background-color: rgb(32, 32, 39);

    &__title {
        padding-top: 46px;
        color: rgb(255, 255, 255);
    }

    &__p {
        margin-top: 24px;
        color: #ffffff;
    }
}

.cards {
    margin-top: 72px;

    position: absolute;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    gap: 32px;

    &__col {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}

.cards-long {
    margin-top: 72px;
    width: 100%;
    max-width: $display_width;

    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 32px;    
}

.card {
    @include card-base;
    width: calc(($display_width - 64px) / 3);
    transition: all 0.3s ease-in-out;

    
    &__img {
        @include image-base;
        height: 314px;
    }

    &__info {
        margin: 32px;
    }

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__ground {
        color: rgba(0, 0, 0);
        font-size: 16px;  
        padding-top: 8px;
        font-weight: 500;
        padding-bottom: 10px;
        text-align: center;
        width: 108px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
    }

    &__name {
        margin-top: 16px;
    }
}

.card:hover {
    transform: scale(1.09);
    margin-top: 6px;
    margin-bottom: 6px;
}

.card-long {
    @include card-base;
    width: 100%;
    height: 500px;
    
    &__info {
        margin: 48px;
    }

    &__img {
        @include image-base;
        height: 500px;
        width: 100%;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__name {
        font-size: 48px;
        line-height: 59px;
    }

    &__p {
        margin-top: 24px;
        font-size: 24px;
    }

    &__btn {
        display: block;

        width: 247px;
        margin-top: 32px;

        padding-top: 16px;
        padding-bottom: 16px;
        
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        transition: all 0.3s ease-in-out;

    }

    &__btn:hover {
        border: 1px solid rgb(32, 32, 39);
        color: rgb(32, 32, 39);
        background: rgb(255, 255, 255);
    }

    scroll-margin-top: 250px;
}

/* Для нечетных карточек */
.card-long:nth-child(odd) {
    .card-long__info {
        grid-column: span 1;
        grid-row: 1;
    }
    .card-long__img {
        grid-column: 2 / 3;
        grid-row: 1;
    }
}

/* Для четных карточек */
.card-long:nth-child(even) {
    .card-long__info {
        grid-column: 2 / 3;
        grid-row: 1;
    }
    .card-long__img {
        grid-column: span 1;
        grid-row: 1;
    }
}

.footer {
    background-color: rgb(189, 237, 53);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__p {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;

    }
}

@import "_mob.scss";
