* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h1 {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

h3 {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

p {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

p span {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background-color: rgb(225, 255, 143);
}
.top__h1 {
  padding-top: 196px;
}
.top__p {
  margin-top: 24px;
}
.top__p_mob {
  display: none;
}
.top__btn {
  display: block;
  margin-top: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 247px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.top__btn:hover {
  border: 1px solid rgb(32, 32, 39);
  color: rgb(32, 32, 39);
  background: rgb(255, 255, 255);
}

.dec-elements__star {
  position: absolute;
}
.dec-elements__star_1 {
  top: 63px;
  left: calc(50% - 564px);
}
.dec-elements__star_2 {
  top: 94px;
  left: calc(50% - 657px);
}
.dec-elements__star_3 {
  top: 568px;
  right: calc(50% - 376px);
}
.dec-elements__star_4 {
  top: 538px;
  right: calc(50% - 265px);
}
.dec-elements__star_5 {
  top: -268px;
  right: calc(50% - 1120px);
}
.dec-elements__star_6 {
  top: 877px;
  left: calc(50% + 300px);
}
.dec-elements__star_7 {
  top: 1570px;
  left: calc(50% - 695px);
}
.dec-elements__star_8 {
  top: 1622px;
  left: calc(50% - 680px);
}
.dec-elements__star_9 {
  top: 2363px;
  left: calc(50% + 577px);
}
.dec-elements__star_10 {
  top: 5637px;
  left: calc(50% + 559px);
}
.dec-elements__triangle {
  position: absolute;
  right: calc(50% - 607px);
  top: 468px;
}
.dec-elements__lines {
  position: absolute;
  right: calc(50% - 725px);
  top: -10px;
}

.move-bar {
  display: flex;
  position: absolute;
  top: 710px;
  align-items: center;
  gap: 51px;
  padding-left: 49px;
  padding-right: 49px;
  height: 90px;
  background-color: rgb(188, 236, 48);
}
.move-bar__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

.about {
  height: 1470px;
  background-color: rgb(32, 32, 39);
}
.about__h1 {
  padding-top: 94px;
  color: rgb(255, 255, 255);
}
.about__h1_mob {
  display: none;
}
.about__p {
  margin-top: 24px;
  color: #ffffff;
}

.mgames {
  height: 3500px;
  background-color: rgb(32, 32, 39);
}
.mgames__h1 {
  padding-top: 46px;
  color: rgb(255, 255, 255);
}
.mgames__p {
  margin-top: 24px;
  color: #ffffff;
}

.cards {
  margin-top: 72px;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.cards__col {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.cards-long {
  margin-top: 72px;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 378.6666666667px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
}
.card__content {
  display: flex;
  flex-direction: row;
}
.card__img {
  border-radius: 30px;
  height: 314px;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__img_long {
  height: 500px;
  width: 50%;
}
.card__img_1 {
  background-image: url("/img/card_cover_1.png");
}
.card__img_2 {
  background-image: url("/img/card_cover_2.png");
}
.card__img_3 {
  background-image: url("/img/card_cover_3.png");
}
.card__img_4 {
  background-image: url("/img/card_cover_4.png");
}
.card__img_5 {
  background-image: url("/img/card_cover_5.png");
}
.card__img_6 {
  background-image: url("/img/card_cover_6.png");
}
.card__info {
  padding: 32px;
}
.card__ground {
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding-top: 8px;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: center;
  width: 108px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.card__name {
  margin-top: 16px;
}

.card-long {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  width: 100%;
  height: 500px;
}
.card-long__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-long__img {
  border-radius: 30px;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-long__img_1 {
  background-image: url("/img/card_cover_1.png");
}
.card-long__img_2 {
  background-image: url("/img/card_cover_2.png");
}
.card-long__img_3 {
  background-image: url("/img/card_cover_3.png");
}
.card-long__img_4 {
  background-image: url("/img/card_cover_4.png");
}
.card-long__img_5 {
  background-image: url("/img/card_cover_5.png");
}
.card-long__img_6 {
  background-image: url("/img/card_cover_6.png");
}
.card-long__info {
  padding: 48px;
}
.card-long__name {
  font-size: 48px;
  line-height: 59px;
}
.card-long__p {
  margin-top: 24px;
  font-size: 24px;
}
.card-long__btn {
  display: block;
  width: 247px;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.card-long__btn:hover {
  border: 1px solid rgb(32, 32, 39);
  color: rgb(32, 32, 39);
  background: rgb(255, 255, 255);
}

.footer {
  background-color: rgb(189, 237, 53);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__p {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding-left: 40px !important;
    padding-right: 40px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 700px;
  }
  .top__h1 {
    padding-top: 147px;
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .top__p {
    display: none;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .top__p_mob {
    display: inline;
  }
  .top__btn {
    width: 285px;
    font-size: 16px;
    margin-top: 32px;
  }
  .move-bar {
    height: 52px;
    top: 648px;
    gap: 30px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .move-bar__text {
    font-size: 16px;
  }
  .move-bar svg {
    width: 19.34px;
    height: 19.34px;
  }
  .about {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
  }
  .cards__col {
    gap: 24px;
  }
  .card {
    width: 343px;
  }
  .card__img {
    height: 285px;
  }
  .card__info {
    padding: 29px;
    padding-bottom: 32px;
  }
  .card__ground {
    display: none;
  }
  .card__name {
    margin-top: 0px;
  }
  .card__p {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
  .card__link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
  }
  .card__btn {
    display: block;
    width: 285px;
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .card__btn:hover {
    border: 1px solid rgb(32, 32, 39);
    color: rgb(32, 32, 39);
    background: rgb(255, 255, 255);
  }
  .dec-elements__star {
    position: absolute;
  }
  .dec-elements__star_1 {
    width: 21px;
    width: 21px;
    top: 64px;
    left: 91px;
  }
  .dec-elements__star_2 {
    width: 35px;
    height: 35px;
    top: 97px;
    left: 37px;
  }
  .dec-elements__star_3 {
    width: 40px;
    height: 40px;
    top: 580px;
    right: 34px;
  }
  .dec-elements__star_4 {
    width: 18px;
    height: 18px;
    top: 557px;
    right: 86px;
  }
  .dec-elements__star_5 {
    width: 223px;
    height: 238spx;
    top: -82px;
    left: 230px;
  }
  .dec-elements__star_6 {
    top: 877px;
    left: calc(50% + 300px);
  }
  .dec-elements__star_7 {
    top: 1570px;
    left: calc(50% - 695px);
  }
  .dec-elements__star_8 {
    top: 1622px;
    left: calc(50% - 680px);
  }
  .dec-elements__triangle, .dec-elements__lines {
    display: none;
  }
  .mgames {
    display: none;
  }
  .footer {
    background-color: rgb(189, 237, 53);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__p {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */